*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



/* worked on header */
.nav-container{
  display: flex;
  margin: 0 auto;
  padding: 16px 0;
  width: 85%;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  /* border: 1px solid red; */
}
.nav-container .nav-logo{
  width: 139px;
  height: 60px;
}
.nav-container .menu{
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-container li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.nav-container button{
  border: none;
  background-color: #469165;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.nav-container button:hover{
  cursor: pointer;
}
.banner{
  background-image: url(../assets/hero-bg.png);
  padding: 115px 120px 180px;
  height: 674px;
  background-size: cover;
}
.banner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner-container .capsule{
  width: 229px;
  background-color: #FFFFFF;
  color:#469165;
  padding: 8px 12px;
  border-radius: 1000px;
  font-weight: 500;
}
.banner-container .section-title{
  width: 770px;
  margin-top: 16px;
}
.banner-container .section-title h1{
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 84px;
}
.banner-container .section-title h1 span{
  font-size: 72px;
  font-weight: bold;
  color: #30B868;
  line-height: 84px;
}
.banner-container .banner-text{
  margin-top: 16px;
  font-size: 18px;
  color: #FFFFFF;
  width: 1360px;
  line-height: 24px;
}
.banner-container .btn{
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.banner-container .btn .green-btn{
  border: none;
  background-color: #469165;
  padding: 16.5px 16px; 
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-container .btn .green-btn:hover{
  cursor: pointer;
}
.banner-container .btn .green-btn p{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.banner-container .btn .green-btn img{
  size: 20px;
}
.banner-container .btn .white-btn{
  border: 1px solid #FFFFFF;
  background: transparent;
  padding: 16.5px 16px; 
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-container .btn .white-btn:hover{
  cursor: pointer;
}
.banner-container .btn .white-btn p{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.banner-container .btn .white-btn img{
  size: 20px;
}