*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



/* worked on header */
.nav-container{
  display: flex;
  margin: 0 auto;
  padding: 16px 0;
  width: 85%;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  /* border: 1px solid red; */
}
.nav-container .nav-logo{
  width: 139px;
  height: 60px;
}
.nav-container .menu{
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-container li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.nav-container button{
  border: none;
  background-color: #469165;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.nav-container button:hover{
  cursor: pointer;
}
.banner{
  background-image: url(../assets/hero-bg.png);
  padding: 115px 120px 180px;
  height: 674px;
  background-size: cover;
}
.banner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner-container .capsule{
  width: 229px;
  background-color: #FFFFFF;
  color:#469165;
  padding: 8px 12px;
  border-radius: 1000px;
  font-weight: 500;
}
.banner-container .section-title{
  width: 770px;
  margin-top: 16px;
}
.banner-container .section-title h1{
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 84px;
}
.banner-container .section-title h1 span{
  font-size: 72px;
  font-weight: bold;
  color: #30B868;
  line-height: 84px;
}
.banner-container .banner-text{
  margin-top: 16px;
  font-size: 18px;
  color: #FFFFFF;
  width: 1360px;
  line-height: 24px;
}
.banner-container .btn{
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.banner-container .btn .green-btn{
  border: none;
  background-color: #469165;
  padding: 16.5px 16px; 
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-container .btn .green-btn:hover{
  cursor: pointer;
}
.banner-container .btn .green-btn p{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.banner-container .btn .green-btn img{
  size: 20px;
}
.banner-container .btn .white-btn{
  border: 1px solid #FFFFFF;
  background: transparent;
  padding: 16.5px 16px; 
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-container .btn .white-btn:hover{
  cursor: pointer;
}
.banner-container .btn .white-btn p{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.banner-container .btn .white-btn img{
  size: 20px;
}

/* worked on Notes */
.notes-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.notes-container .notes-heading{
  height: 152px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.notes-container .notes-heading h1{
  font-size: 48px;
  font-weight: bold;
}
.notes-container .notes-heading p{
  margin-top: 16px;
  font-size: 18px;
  color: #627382;
}
.notes-container .card-container{
  margin-top: 44px;
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 0;
}
.card-container .card{
  width: 322px;
  height: 300px;
  padding: 69.5px 24px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 #00000021;
}
.card-container .card img{
  background-color: #F95555;
  size: 60px;
  border-radius: 50%;
  padding: 14.4px;
}
.card-container h3{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}
.card-container p{
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
}

.knowledge{
  padding: 120px;
  text-align: left;
}
.knowledge-container{
  display: flex;
  gap: 60px;
  align-items: center;
}
.knowledge-container .knowledge-image{
  size: 600px;
}
.knowledge-container .solution p{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.knowledge-container .solution h1{
  margin-top: 16px;
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
}
.knowledge-container .solution .solution-text{
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.knowledge-container .solution ul{
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.think{
  padding: 2px 120px 120px 120px;

}
.think-container{
  padding: 40px 80px;
  background-color: #F7F6F2;
  text-align: center;
}
.think-container h3{
  font-size: 40px;
  font-weight: bold;
}
.think-container .think-text{
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #627382;

}
.think-container button{
  margin-top: 24px;
  border: none;
  background-color: #469165;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  width: 192px;
  height: 52px;
}
.think-container button:hover{
  cursor: pointer;
}
.think-container .think-footer{
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
}

footer{
  padding: 120px 120px 30px 120px;
  background-color: #001931;
}
.footer-container .social{
  display: flex;
  gap: 790px;
  align-items: center;
}
.footer-container .social .image-box{
  width: 350px;
  height: 60px;
}
.social .icon-holder p{
  font-size: 20px;
  color: #FFFFFF;
}
.social .icon-holder i{
  color: white;
}
.footer-container .copy-right p{
  text-align: center;
  margin-top: 30px;
  color: #FFFFFF;
}